apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: github-runners-deploy
  namespace: production
spec:
  replicas: 1
  template:
    spec:
      organization: Aviva-Labs
      image: aksdatascienceprodreg.azurecr.io/github-runner-on-aks:bru-updated
      imagePullSecrets:
      - name: runnersecret-updated
      resources:
          limits:
            cpu: "8"
            memory: 20Gi
          requests:
            cpu: "1"
            memory: 8Gi
      volumeMounts:
      - mountPath: /runner/dvc-cache
        name: dvc-cache
      volumes:
        persistentVolumeClaim:
          claimName: remote-caching-pvc